<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="post">
    <label class="sr-only" for="room-pass">Insira uma senha</label>
    <input
      type="password"
      name="password"
      id="room-pass"
      placeholder="Insira uma senha"
    />
    <button>
      <img src="/images/userswhite.svg" alt="Entrar na Sala" />
      Criar Sala
    </button>
  </form>
</section>
